@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.wrapper1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    background-color: var(--white);
    flex-direction: column;
}

.wrapper {
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.sectionTitle {
    display: flex;
    color: var(--dark);
    font-family: heebo;
    font-weight: bold;
    font-size: 2.75rem;
}

.cardLists {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    max-width: 42.5625rem;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 42.5625rem;
    padding-bottom: 1.8125rem;
    border-bottom: 1px solid #E0E0E0;
    gap: 1rem;
    list-style: none;

}

.cardTitle {
    display: flex;
    color: var(--dark);
    font-family: heebo;
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: -0.0437rem;
}

.cardDetails1Wrapper {
display: flex;
justify-content: flex-start;
align-items: center;
}

.cardDetails1 {
display: flex;
font-family: heebo;
font-size: 1.25rem;
font-weight: regular;
color: var(--dark);
}

.cardDetails2 {
display: flex;
font-family: heebo;
font-size: 1.25rem;
font-weight: regular;
color: var(--light)

}

.line {
    display: flex;
    height: 1.3125rem;
    width: .0625rem;
    background-color: #000000;
    margin: 0 1.625rem;

}

.cardDetails3 {
display: flex;
font-family: heebo;
font-size: 1rem;
font-weight: regular;
max-width: 48.75rem;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
line-height: 1.5;
}

@media (max-width: 600px) {
    .wrapper1 {
        margin: 5rem 1rem 0 1rem;
    }

    .sectionTitle {
    display: flex;
    color: var(--dark);
    font-family: heebo;
    font-weight: bold;
    font-size: 1.875rem;
}

.cardTitle {
    font-size: 1.625rem;
    letter-spacing: 0;
}

.cardDetails1 {
display: flex;
font-family: heebo;
font-size: 1rem;
font-weight: regular;
color: var(--dark);
}

.cardDetails2 {
display: flex;
font-family: heebo;
font-size: 1rem;
font-weight: regular;
color: var(--light)

}

}

@media (min-width: 601px) and (max-width: 900px) {


.wrapper1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    background-color: var(--white);
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

}
