@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.wrapper {
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    flex-direction: column;
    max-width: 42.5625rem;
}

.sectionTitle {
    display: flex;
    color: var(--dark);
    font-family: heebo;
    font-weight: bold;
    font-size: 2.75rem;
    /* align-self: flex-start; */
}

.workContainer {
display: flex;
flex-direction: row;
gap: 1.125rem;
align-items: center;
max-width: 100%;
border-bottom: 1px solid #E5E5EA;
padding-bottom: .9375rem;
}

.image {
    display: flex;
    border-radius: .375rem;
    width: 15.375rem;
    height: 11.25rem;
    margin-top: 1rem;
    
}

.lineTwo {
    display: flex;
    gap: 1.625rem;
    justify-content: flex-start;
    align-items: center;
    margin: 1.25rem 0 1.375rem 0;
}

.rightDiv {
    display: flex;
    flex-direction: column;
}

.workCategory {
    display: flex;
    color: Var(--light);
    font-family: heebo;
    font-size: 1.25rem;
    font-weight: 300;
}

.workDetails {
    display: flex;
    color: Var(--dark);
    font-family: heebo;
    font-size: 1rem;
    font-weight: regular;
    height: 5.8125rem;
    flex-wrap: wrap;
    line-height: 1.4;
}
.workTitle {
    display: flex;
    font-family: heebo;
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--dark);
    margin-top: 1.8125rem;
}

.workYear {
display: flex;
width: 3.875rem;
height: 1.5625rem;
border-radius: 1rem;
background-color: #142850;
color: var(--white);
justify-content: center;
align-items: center;
font-family: heebo;
font-size: 1.125rem;
font-weight: bolder;
}
