.container {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    
}

.heading {
    display: flex;
    font-family: heebo;
    font-weight: bold;
    font-size: 2.75rem;
    width: 600px;
    margin-left: 2rem;
}

.img {
    max-width: 600px;
    display: flex;
    object-fit: cover;
}

@media (max-width: 600px) {
    .container {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    }

    .heading {
    display: flex;
    font-family: heebo;
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 90%;
    margin-left: 2rem;
}

.img {
    max-width: 90%;
    display: flex;
    object-fit: cover;
}
}