@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.header {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    padding: .75rem 1.125rem;
    gap: 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem 3.75rem;
    justify-content: flex-end;
    align-items: center;
}

.image {
    display: flex;
    width: 24px;
    height: 24px;
}
.menuIcon {
    display: none;
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    position: relative;
}

.link2 {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    text-decoration: none;
    color: var(--primary);
    font-family: heebo;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    border: none;
}

.link {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    text-decoration: none;
    color: var(--dark);
    font-family: heebo;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    border: none;
}

.link:hover {
    color: var(--primary);
}

@media (max-width: 600px) {

    .menuIcon{
        display: flex;
        position: relative;
    }

    .header {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        gap: .875rem;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        /* justify-content: flex-end; */
        align-items: center;
    }

    .container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
    }

    .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
    }


    .link {
        border: 0.2px solid rgb(243, 238, 238);
        width: 100%;
        width: 600px;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 14px;
        font-size: 1rem;

    }

    .link2 {
    border: 0.2px solid rgb(243, 238, 238);
    width: 100%;
    width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 14px;
    font-size: 1rem;
    color: var(--primary)

    }
    .link:active {
        border: 0.1px solid rgb(253, 245, 245);
        width: 100%;
        width: 600px;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: .75rem;
        font-size: 1rem;
        color: var(--primary);
    }
}
