.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 54rem;
}

.workContainer {
display: flex;
flex-direction: row;
gap: 1.125rem;
align-items: center;
border-bottom: 1px solid #E5E5EA;
padding-bottom: .9375rem;
width: 100%;
margin-top: 3rem;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: heebo;
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--dark);
    text-align: start;
    width: 100%;
    margin-top: 1rem;
}

.sectionTitle[data-variant='page'] {

    display: flex;
    color: var(--dark);
    font-family: heebo;
    font-weight: bold;
    font-size: 2.75rem;
    margin-top: 6rem;
}

.workTitle {
    display: flex;
    font-family: heebo;
    font-size: 24px;
    font-weight: bold;
    color: var(--dark);
    /* margin-top: 6rem; */
}

.workYear {
display: flex;
padding: .25rem .5rem;
border-radius: 1rem;
background-color: #142850;
color: var(--white);
justify-content: center;
align-items: center;
font-family: heebo;
font-size: .875rem;
font-weight: bolder;
}

.workCategory {
    display: flex;
    color: Var(--light);
    font-family: heebo;
    font-size: 1rem;
    font-weight: 300;
}

.workDetails {
    display: flex;
    color: Var(--dark);
    font-family: heebo;
    font-size: 1rem;
    font-weight: regular;
    height: 5.8125rem;
    flex-wrap: wrap;
    line-height: 1.4;
    text-align: justify;
    padding-right: 2rem;
}

.lineTwo {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 0;
}

.rightDiv {
    display: flex;
    flex-direction: column;
}


.image {
    display: flex;
    border-radius: .375rem;
    width: 15.375rem;
    height: 11.25rem;
    
} 


@media (max-width: 600px) {
    
.container {
    width: 100%;
    margin: 0;
    justify-content: center;
}

.wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    display: flex;
    color: var(--dark);
    font-family: heebo;
    font-weight: regular;
    font-size: 1.125rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.workContainer {
display: flex;
flex-direction: column;
width: 100%;
max-width: 339px;
gap: 0;
border-bottom: 1px solid #E5E5EA;
padding-bottom: .9375rem;
margin: 3rem 1.125rem 0 1.125rem;
box-sizing: border-box;
align-items: center;
}

.image {
width: 100%;
height: 14.375rem;
margin-bottom: 1rem;
}

.workTitle {
    display: flex;
    font-family: heebo;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--dark);
}

.lineTwo {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0 ;
}

.workDetails {
    display: flex;
    color: Var(--dark);
    font-family: heebo;
    font-size: 1rem;
    font-weight: regular;
    margin: 0;
    padding: 0;
    height: 6rem;
    flex-wrap: wrap;
    line-height: 1.4;
    text-align: justify

}

.sectionTitle[data-variant='page'] {

    display: flex;
    color: var(--dark);
    font-family: heebo;
    font-weight: bold;
    font-size: 1.875rem;
    margin-top: 6rem;
    justify-content: flex-start;
    margin-left: 1.5rem;
}

}

@media (min-width:601px) and (max-width:900px) {

    
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 601px;

}


.workContainer{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    width: 100%;
   margin-left: 1rem;
   margin-right: 1rem;
}

.image {
    display: flex;
    border-radius: .375rem;
    width: 13rem;
    height: 10rem;
    
}

.sectionTitle {
    display: flex;
    color: var(--dark);
    font-family: heebo;
    font-weight: regular;
    font-size: 1.125rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

}